{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "react/prop-types": 0,
    "react/jsx-indent-props": 0,
    "linebreak-style": 0,
    "arrow-body-style": 0,
    "no-console": 0,
    "max-len": [1, 180, 4],
    "prefer-template": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,//["error", {"devDependencies": false}]
    "global-require": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "prefer-const": 1,
    "no-else-return": 1,
    "no-param-reassign": 0
  },
  "plugins": ["react", "jsx-a11y"],
  "globals": {
    "__DEVSERVER__": true,
    "__DEVCLIENT__": true
  }
}