//colors
$color_cornflower_approx: #94d5f0;
$mercury: #e5e5e5;
$white: #fff;
$black_40: rgba(0, 0, 0, .4);
$color_celeste_approx: #ccc;
$black: #000;
$color_cararra_approx: #ebebeb;
$color_mountain_mist_approx: #999;
$color_maroon_flush_approx: #c21762;
$color_emperor_approx: #4d4d4d;
$color_bunker_approx: #151515;
$color_shark_approx: #242424;
$color_storm_dust_approx: #666;
$red:  red;
$color_red_approx: #df0000;
$color_mercury_approx: #e6e6e6;
$silver:  silver;
$color_black_approx: #010101;

//fonts
$font_0: wfuturasemibold;
$font_1: wfuturamedium;

//urls
$url_0: url(/images/icons/view_on_map.gif);
$url_1: url(/images/forms/checkbox_gray.gif);
$url_2: url(/images/icons/button_arrow.png);

//@extend-elements
//original selectors
//.infoBox .branchDetails div.listAddress, .infoBox .branchDetails div.listTradingHours
%extend_1 {
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid $color_celeste_approx;
  width: 100%!important;
}

//original selectors
//.branchDetailsWrapper .branchDetails div.listDepartments, .branchDetailsWrapper .branchDetails div.listBrands
%extend_2 {
  margin-right: 0;
  width: 20%;
  border-right: 1px solid $mercury;
  float: left;
  margin-right: 1%;
  padding: 0 1% 0 0;
  min-height: 108px;
}

//original selectors
//.branchDetailsWrapper .branchDetails div.listDepartments-mobile, .branchDetailsWrapper .branchDetails div.listBrands-mobile
%extend_3 {
  padding: 0!important;
  width: 62%!important;
  clear: both;
  float: none;
}

//original selectors
//.branchDetailsWrapper .branchDetails div.listDepartments-mobile a, .branchDetailsWrapper .branchDetails div.listBrands-mobile a
%extend_4 {
  color: $black;
  display: none;
  padding: 8px;
  text-decoration: none;
}

//original selectors
//.branchDetailsWrapper .branchDetails div.listDepartments-mobile ul, .branchDetailsWrapper .branchDetails div.listBrands-mobile ul
%extend_5 {
  padding: 8px;
  border-right: solid 1px $color_celeste_approx;
  border-bottom: solid 1px $color_celeste_approx;
  border-left: solid 1px $color_celeste_approx;
}

//original selectors
//.storesNearYouFilter div.filters, .storesNearYouFilter div.dayFilters
%extend_6 {
  position: relative;
  width: 33%;
  margin-right: 1%;
  float: left;
}

//original selectors
//.storesNearYouFilter div.filters div.filterSelection form div ul li label, .storesNearYouFilter div.dayFilters div.filterSelection form div ul li label
%extend_7 {
  display: inline!important;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 20px;
}


.store-locator {
  h2 {
    font-family: $font_0;
    font-size: 1.125em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 1.125em 0;
  }
  .lists {
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      label {
        &:before {
          width: 15px;
          height: 15px;
        }
        &.is-checked:before {
          width: 15px;
          height: 15px;
        }
      }
    }
    &.store-nav li a {
      width: 100%!important;
    }
  }
  .note {
    background-color: $color_cornflower_approx;
    font-size: .75em;
    padding: .50em .833em;
    margin-top: 0;
  }
  .storeWrapper {
    header {
      overflow: hidden;
      p {
        float: left;
      }
      .searchByAreaLink {
        background-image: $url_0;
        background-position: right center;
        background-repeat: no-repeat;
        display: block;
        float: right;
        padding-right: 18px;
        text-decoration: none;
        font-size: .75em;
      }
    }
    .wForm .customSelect {
      width: 99%!important;
      span {
        text-align: left!important;
        line-height: 2.5em!important;
        width: 95%!important;
      }
    }
    .findAStoreNearMe .wForm .customSelect span {
      padding: 0 0 0 5px!important;
      width: 40px!important;
      text-align: left!important;
    }
    .findAStoreByArea .wForm {
      fieldset {
        margin-bottom: 0.625em!important;
      }
      .customSelect span {
        padding: 0 2.5%!important;
        width: 95%!important;
        text-align: left!important;
      }
    }
    .button.questionSubmit {
      width: auto!important;
    }
  }
  .branchLocator {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    .storeFilterDropDown {
      font-size: .75em;
      overflow: hidden;
      width: 94%;
      border: solid 1px $mercury;
      padding: 2%;
      margin-top: 9px;
      float: left;
      .storeFilterDropDownCol {
        float: left;
        padding-right: 50px;
        margin-right: 30px;
        border-right: solid 1px $mercury;
        strong {
          margin-bottom: 10px;
          display: block;
        }
        ul {
          float: left;
          li {
            overflow: hidden;
            label {
              float: right;
              text-align: left;
              display: block;
              cursor: pointer;
            }
            input {
              float: left;
              margin-right: 6px;
            }
          }
        }
        .lastFilterList {
          margin-left: 63px;
        }
        filters:last-child {
          border-right: none;
        }
      }
    }
    a {
      width: 5%;
    }
    .choseFilter {
      width: 24%;
      text-align: left;
    }
    .list {
      width: 8%;
    }
    .map {
      width: 8%;
    }
  }
  .mapWrapper {
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    iframe {
      width: 99%!important;
      border: solid 1px $mercury;
    }
    .infoBox img {
      right: -25px;
      position: absolute!important;
      top: -15px;
      z-index: 1;
    }
  }
  .findAStore {
    padding-bottom: 20px;
    section {
      float: left;
      width: 38%;
      h2 {
        font-size: 1.125em;
        margin-bottom: 18px;
      }
      form {
        clear: both;
        p {
          float: left;
        }
        fieldset {
          &.storeRadius {
            float: left;
            width: 45px;
            margin: 1px 5px;
            .customSelect {
              width: 100%!important;
              span {
                width: 70%!important;
                padding: 0 10%;
              }
            }
          }
          &.storeRadiusButton {
            clear: both;
            margin-top: 25px;
            float: left;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
    .or {
      font-size: 1.875em;
      font-family: $font_0;
      text-transform: uppercase;
      width: 10%;
      position: relative;
      strong {
        background-color: $white;
        display: block;
        padding: 5px 10px;
        margin: 0 auto;
        position: absolute;
        font-weight: 400;
        position: relative!important;
        width: 45px!important;
        margin-top: 76px;
        z-index: 20;
      }
      span {
        background-color: $mercury;
        margin: 0 auto;
        height: 100px;
        display: block;
        height: 200px;
        left: 50%;
        position: absolute;
        top: 0;
        width: 1px;
        z-index: 22;
      }
    }
    .findAStoreByArea {
      form {
        width: 69.5%;
        .customSelect {
          width: 99%!important;
        }
      }
      #delivery-location-message {
        display: none;
      }
      #btnContinue {
        display: none;
      }
      .fieldsetFooter {
        display: none;
      }
      .storeInMyAreaButton {
        border: none;
        overflow: hidden;
        margin: 9px 0!important;
        padding: 0;
        float: left;
        position: absolute;
        bottom: -8px!important;
        left: 0;
        .questionSubmit {
          position: relative!important;
        }
      }
    }
  }
  .branchDetailsWrapper {
    clear: both;
    overflow: hidden;
    .branchDetails {
      overflow: hidden;
      clear: both;
      border-bottom: solid 1px $mercury;
      padding-bottom: 20px;
      div {
        float: left;
        font-size: .75em;
        border-right: solid 1px $mercury;
        margin-right: 1%;
        padding: 0 1% 0 0;
        width: 25%;
        height: 160px;
        &:last-child {
          border-right: none;
        }
        .viewOnMap {
          background-position: right center;
          background-repeat: no-repeat;
          display: block;
          float: left;
          padding-right: 18px;
          text-decoration: none;
          margin-top: 20px;
          color: $black;
        }
        &.listDepartments {
          @extend %extend_2;
          strong {
            margin-bottom: 10px;
            display: inline-block;
          }
          ul {
            padding-right: 0;
            li {
              float: left;
              width: 50%;
            }
          }
        }
        &.listBrands {
          @extend %extend_2;
          border-right: none;
          strong {
            margin-bottom: 10px;
            display: inline-block;
          }
          ul {
            padding-right: 0;
            li {
              float: left;
              width: 50%;
            }
          }
        }
        &.listDepartments-mobile {
          @extend %extend_3;
          a {
            @extend %extend_4;
            &.active {
              border-bottom: none;
            }
          }
          ul {
            @extend %extend_5;
            li {
              border-bottom: solid 1px $color_celeste_approx;
              padding-bottom: 3px;
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
        &.listBrands-mobile {
          @extend %extend_3;
          a {
            @extend %extend_4;
            &.active {
              border-bottom: none;
            }
          }
          ul {
            @extend %extend_5;
            li {
              border-bottom: solid 1px $color_celeste_approx;
              padding-bottom: 3px;
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
        ul li {
          margin-bottom: .375em;
          span {
            float: right;
            padding-right: 38px;
          }
        }
      }
      .viewOnMap-mobile {
        display: none;
      }
      h2 span {
        float: right;
      }
    }
    h2 {
      font-family: $font_0;
      font-size: 1.125em;
      line-height: 1em;
      text-transform: uppercase;
      margin: 1.125em 0;
    }
  }
  .storesNearYouFilter {
    font-size: .75em;
    width: 100%;
    padding: 0;
    margin: 0;
    div {
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: border-box;
      a {
        border: 1px solid $color_cararra_approx;
        color: $black;
        display: block;
        font-weight: 400;
        text-decoration: none;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        height: 30px;
        line-height: 30px!important;
      }
      &.filters {
        @extend %extend_6;
        .filters {
          padding-left: 20px;
          border-left: 1px solid $mercury;
        }
        .brandFilters {
          padding-left: 20px;
          border-left: 1px solid $mercury;
        }
        dayFilters {
          padding-left: 20px;
          border-left: 1px solid $mercury;
        }
        .dayFilters {
          padding-left: 0;
        }
        a.filterSelector {
          padding-left: 10px;
          position: relative;
          line-height: 30px!important;
          &.active {
            border-bottom: none;
            z-index: 50;
            background-color: $white;
            height: 40px;
            padding-bottom: 26px;
            &:after {
              content: "\2013";
              position: absolute;
              width: 1em;
              height: 1em;
              line-height: .8em;
              top: .5em;
              right: 0;
              font-size: 18px;
              font-weight: 700;
              color: $color_mountain_mist_approx;
            }
          }
          &:after {
            content: "\002B";
            line-height: 1em;
            position: absolute;
            width: 1em;
            height: 1em;
            line-height: .8em;
            top: .5em;
            right: 0;
            font-size: 18px;
            font-weight: 700;
            color: $color_mountain_mist_approx;
          }
        }
        div.filterSelection {
          padding: 5px 10px;
          border: 1px solid $color_cararra_approx;
          background-color: $white;
          position: relative;
          top: -1px!important;
          min-width: 785px;
          z-index: 10;
          position: relative!important;
          background-color: $white;
          form {
            margin-top: 10px;
            div {
              margin-right: 30px;
              float: left;
              strong {
                display: block;
                margin-bottom: 8px;
              }
              ul {
                float: left;
                padding: 0 10px 0 0;
                li {
                  margin-bottom: 10px;
                  label {
                    @extend %extend_7;
                  }
                  div {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
      &.filterDisplay {
        overflow: hidden;
        width: 19%;
        margin-right: 1%;
        float: left;
        a {
          float: left;
          width: 49%;
          margin-right: 1%;
          text-align: center;
          line-height: 30px!important;
          width: 48%;
          margin-right: 2%;
          &:last-child {
            margin-left: 1%;
            margin-right: 0;
            margin-left: 2%;
          }
          &.active {
            background-color: $black;
            border-color: $black;
            color: $white;
            font-weight: 700;
          }
        }
      }
      &.filterDistance {
        overflow: hidden;
        width: 35%;
        float: left;
        a {
          float: left;
          width: 15%;
          margin-right: 2%;
          text-align: center;
          line-height: 30px!important;
          min-width: 34px;
          &.last-child {
            margin-right: 0;
          }
          &.active {
            background-color: $black;
            border-color: $black;
            color: $white;
            font-weight: 700;
          }
        }
      }
      &.dayFilters {
        @extend %extend_6;
        .filters {
          padding-left: 20px;
          border-left: 1px solid $mercury;
        }
        .brandFilters {
          padding-left: 20px;
          border-left: 1px solid $mercury;
        }
        dayFilters {
          padding-left: 20px;
          border-left: 1px solid $mercury;
        }
        .dayFilters {
          padding-left: 0;
        }
        a.filterSelector.active {
          padding-bottom: 26px;
        }
        div.filterSelection {
          background-color: $white;
          form div {
            margin-right: 30px;
            float: left;
            ul {
              float: left;
              padding: 0 10px 0 0;
              li {
                margin-bottom: 10px;
                label {
                  @extend %extend_7;
                }
                div {
                  margin: 0;
                }
              }
            }
          }
        }
      }
      &.storesNearYouFilter {
        width: 35%;
      }
    }
  }
  div {
    &.customCheck {
      position: relative;
      float: left;
      overflow: hidden;
      width: 15px;
      margin-right: 6px;
      span {
        position: relative;
        float: left;
        width: 14px;
        height: 14px;
        background: transparent $url_1 top left no-repeat;
        &.checked {
          background-position: bottom left;
        }
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
    &.listAddress a {
      text-decoration: none;
    }
  }
  .highlightPink {
    color: $color_maroon_flush_approx;
    &.seasonalHours {
      font-size: 11px;
    }
  }
  .findAStoreByArea {
    min-height: 200px;
    position: relative;
    form.wForm fieldset input[type="text"] {
      width: 97%!important;
    }
    .button.questionSubmit {
      position: absolute;
      bottom: 0;
    }
  }
  .findAStoreNearMe {
    min-height: 200px;
    position: relative;
    .button.questionSubmit {
      position: absolute;
      bottom: 0;
    }
    form p {
      height: 32px;
      line-height: 32px;
      margin: 0;
    }
  }
  .noBorder {
    border-left: none!important;
  }
  .corporateWrapper {
    &.productWrapper {
      float: left!important;
      width: 70%!important;
      position: relative;
      header h1 {
        margin-bottom: 22px;
      }
    }
    figure {
      margin-bottom: 12px;
      width: 100%!important;
      img {
        width: 100%!important;
      }
    }
    .jobNote {
      border: solid 5px $color_cararra_approx;
      color: $black;
      overflow: hidden;
      padding: 10px;
      h2 {
        margin: 0 0 10px 0;
        font-size: 16px;
        line-height: 16px;
        font-family: $font_1;
      }
      a {
        display: inline-block;
        color: $white;
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 10px;
        font-family: $font_0;
        background: $color_emperor_approx $url_2 no-repeat 100% center;
        background: $url_2 no-repeat 100% center, linear-gradient(to bottom, $color_emperor_approx 0, $color_bunker_approx 100%);
        padding-right: 27px;
        margin-right: 1%!important;
        white-space: nowrap;
        span {
          background: $url_2 no-repeat;
          width: 7px;
          height: 12px;
          float: right;
          margin-top: 8px;
          margin-left: 8px;
        }
        &:hover {
          background: $color_shark_approx $url_2 no-repeat 100% center;
          background: $url_2 no-repeat 100% center, linear-gradient(to bottom, $color_bunker_approx 0, $color_emperor_approx 100%);
          padding-right: 27px;
          margin-right: 1%!important;
          white-space: nowrap;
        }
      }
    }
    .corporateLinks {
      border-top: solid 1px $mercury;
      overflow: hidden;
      padding-top: 10px;
      a {
        border: solid 1px $color_celeste_approx;
        color: $black;
        display: block;
        float: left;
        font-size: .75em;
        font-weight: 400;
        margin-right: 10px;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        padding: 0 10px;
        &:hover {
          background-color: $color_storm_dust_approx;
          border: solid 1px $color_storm_dust_approx;
          color: $white;
        }
      }
    }
    &.contentContainer header h1 {
      margin-bottom: 22px;
    }
  }
  .sticky {
    .siteWrapperSticky {
      position: fixed;
      top: 60px;
      left: 230px;
      height: 35px;
      width: 100%;
      background: $white;
      z-index: 999;
      border: solid 1px $red;
    }
    .contentWrapperSticky {
      position: fixed;
      top: 95px;
      left: 230px;
      height: 50px;
      width: 100%;
      background: $white;
      z-index: 999;
      border: solid 1px $red;
    }
    .siteContent {
      .categoryNav {
        z-index: 1000;
        position: fixed;
        left: 230px;
        top: 50px;
      }
      .breadCrumbs {
        position: fixed;
        top: 95px;
        left: 230px;
        z-index: 1000;
      }
      .subCategoryNav {
        top: 95px;
        &.staticSubNav {
          top: 144px;
        }
      }
      .corporateWrapper {
        margin-top: 100px;
      }
    }
  }
  @media all and(min-width: 961px) and(max-width: 1200px) {
    .corporateWrapper .corporateLinks a {
      margin: 5px;
    }
  }
  form {
    overflow: hidden;
    &.wForm {
      .changeAddressLink {
        margin-top: .5em;
      }
      fieldset {
        border: none;
        padding: 0;
        label {
          display: block;
          font-size: .75em;
          margin: 0 0 .667em 0;
          cursor: pointer;
        }
        input[type=text] {
          border: solid 1px $color_celeste_approx;
          font-size: .75em;
          width: 96%;
          height: 2.50em;
          padding: 0 1%;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 0;
        }
        .stdFld {
          border: solid 1px $color_celeste_approx;
          font-size: .75em;
          width: 96%;
          height: 2.50em;
          padding: 0 1%;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 0;
        }
      }
    }
  }
  .errorFld {
    overflow: hidden;
    margin: 5px 0 0;
    width: 100%;
    color: $color_red_approx;
    font-size: 11px;
  }
  fieldset {
    display: block;
    margin: 2px 0 8px;
    padding: 0;
    width: 100%;
    border: none;
  }
  .summaryTable {
    float: none;
    width: 100%;
    table {
      border-top: solid 1px $color_mercury_approx;
      margin-bottom: 30px;
      width: 100%;
      tr {
        border-bottom: solid 1px $color_mercury_approx!important;
        th {
          font-size: .875em;
          font-weight: 400;
          text-transform: uppercase;
          text-align: left;
          padding: 10px 0!important;
        }
        td {
          font-size: .75em;
          line-height: 1.125em;
          padding: 10px 0;
          vertical-align: top;
          figure {
            border: 1px solid $silver;
            float: left;
            margin-right: 10px;
          }
          p {
            font-size: .875em;
            line-height: 1.1em;
          }
        }
      }
      &.totals {
        border-top: none!important;
        margin-top: -32px;
        tfoot tr {
          border-bottom: none!important;
          td {
            width: 50%!important;
            text-transform: uppercase;
            width: 100%;
            .estimatedTotal {
              font-family: $font_0;
              font-weight: 400;
              font-size: 1.125em;
              border-top: solid 1px $color_mountain_mist_approx;
              border-bottom: solid 1px $color_mountain_mist_approx;
              padding: 20px 0;
            }
            p {
              margin: 0 0 12px 0;
              font-size: 14px;
              span {
                float: right;
              }
            }
            &:first-child {
              vertical-align: top;
              p {
                font-size: 0.750em!important;
                text-transform: none!important;
              }
            }
            &:last-child {
              float: right;
            }
            a.button {
              width: 100%;
              //Instead of the line below you could use @include box-sizing($bs)
              box-sizing: border-box;
            }
          }
        }
      }
    }
    a {
      color: $color_black_approx;
      cursor: pointer;
    }
    h2 {
      margin-bottom: 10px!important;
    }
    &.orderSummaryTable {
      th {
        width: 25%;
        text-align: right;
        &:first-child {
          text-align: left;
        }
      }
      td {
        width: 25%;
        text-align: right;
        &:first-child {
          text-align: left;
        }
      }
      .customSelect {
        float: right;
      }
    }
    .deliverySummaryTable td {
      line-height: 18px;
      &:first-child {
        width: 17%;
      }
    }
  }
  .show-on-mobi {
    display: none;
  }
  .summaryTable-small {
    display: none;
  }
  .tableWrapper-small {
    display: none;
  }
  .estimatedTotal-small {
    display: none;
  }
  .floatR {
    float: right!important;
    clear: none!important;
  }
  .storeRadiusButton {
    margin: 9px 0!important;
    float: left;
    position: absolute;
    bottom: -8px!important;
    left: 0;
  }
  .productWrapper.storeWrapper {
    float: left;
    position: relative;
    width: 70%;
  }
  .infoBox .branchDetails {
    background: $white;
    margin: 8px 0;
    position: relative;
    padding: 10px;
    overflow: hidden;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 5px 10px $black_40, 0 4px 4px $black_40;
    h2 {
      font-size: .75em;
      margin: 0 0 .75em 0;
      text-transform: none;
      font-weight: 700;
      span {
        float: right;
        text-transform: none;
      }
    }
    div {
      float: left;
      font-size: .75em;
      border-right: none;
      margin-right: 0;
      padding: 0;
      width: 100%;
      position: relative;
      &.listAddress {
        @extend %extend_1;
      }
      &.listTradingHours {
        @extend %extend_1;
      }
      ul {
        font-size: 1em;
        li {
          margin-bottom: .375em;
          span {
            float: right;
            padding-right: 100px;
            &.seasonalHours {
              font-size: .85em;
              padding-right: 0!important;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
      .viewOnMap {
        display: none;
      }
      &.listDepartments {
        display: none;
      }
      &.listBrands {
        display: none;
      }
      &.listDepartments-mobile {
        display: none;
      }
      &.listBrands-mobile {
        display: none;
      }
    }
    .viewOnMap-mobile {
      display: none;
    }
  }
  a.button.gray {
    border: solid 1px $color_celeste_approx!important;
    background: $white!important;
    font-weight: normal!important;
    color: $black!important;
    font-size: 0.750em!important;
  }
  p.intro {
    font-size: 0.875em!important;
    line-height: 20px!important;
    margin: 0 0 20px 0;
  }
  .branchDetails h2 {
    font-family: $font_0;
    font-size: 1.125em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 1.125em 0;
  }

  h1.text-caps.font-graphic {
    font-size: 1.5em;
    margin: 1em 0;
  }
}
