.horizontal-menu {
  position:relative;
  z-index:$z-index-fly-outs + 1;
  margin-top:0.5em;
  ul {
    list-style:none;
    margin:0;
    padding-left:0;
  }
  > ul {
    border:1px solid $colour-grey;
    border-bottom:0;
    padding:5px 0 0;
  }
  > ul > li {
    display:block;
    font-family:$font-graphic-600;
    font-weight:normal;
    ul {
      font-size:12px;
      padding-left:5px;
      font-family:$font-default;
      a, a:visited {
        color:$colour-grey-dark;
        padding:10px;
      }
    }
  }
  ul a, ul a:visited {
    display:block;
    color:$colour-grey-darkest;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:1px solid $colour-grey;
  }
}

@media (min-width:$breakpoint-medium) {
  .horizontal-menu__accordion-btn {
    display:none;
  }
  .horizontal-menu {
    border-bottom:2px solid #000;
    > ul {
      border:0;
      padding:0;
    }
    ul, li {
      display:block;
      margin:0;
      padding:0;
    }
    > ul > li {
      display:inline-block;
      position:relative;
      overflow:visible;
      text-transform:uppercase;
      font-size:14px;
      &.is-open, &.is-current {
        > a, > a:hover {
          background-color:#000;
          color:#fff;
        }
      }
      li {
        position:static;
        min-width:200px;
      }
      li ~ li {
        border-top:1px solid $colour-grey;
      }
      ul {
        background:#fff;
        border:1px solid #000;
        padding:5px;
        position:absolute;
        top:-1px;
        left:100%;
        min-height:100%;
        text-transform:none;
        font-family:$font-default;
        font-size:12px;
        display:inline-block;
        a, a:visited {
          color:$colour-grey-darkest;
        }
      }
      > ul {
        margin-top:39px;
        left:0;
        ul {
          border-left-color:$colour-grey;
        }
      }
    }
    li > ul {
      display:none !important;
    }
    ul a, ul a:visited {
      border:0;
      padding:10px;
      &.has-sub-menu {
        position:relative;
        padding-right:30px;
      }
      &.has-sub-menu:after {
        content:"";
        position:absolute;
        right:10px;
        top:50%;
        margin-top:-6.5px;
      }
    }
    li.is-open {
      > a, > a:visited, > a:hover {
        background-color:$colour-grey-darkest;
        color:#fff;
      }
      > ul {
        display:block !important;
        width:208px;
      }
    }
  }
}
