.list-options {
  display:inline-block;
  width:350px;
  background-color:#fff;
}

.list-options__label, .list-options__option {
  display:inline-block;
  vertical-align:middle;
  font-size:11px;
  margin:2px 0;
}

.list-options__label {
  margin-right:10px;
}

.list-options__option {
  width:80px;
  & + & {
    margin-left:0.25em;
  }
  .enhanced-select {
    padding:0 15px 0 6px;
    height:20px;
    line-height: 25px;
    position: relative;
  }
  .enhanced-select__icon {
    width:25px;
    height:18px;
  }
}

@media (min-width:$breakpoint-medium) {
  .list-options{
    text-align:right;
  }
  .list-options__option {
    width:120px;
  }
}
.list-options__option .enhanced-select #show{
  top: 0px!important;
}
.list-options__option .enhanced-select #sort{
  top: 0px!important;
}
.list-options__option .enhanced-select__label{
  line-height: 21px;
}
