@mixin panel-row__item() {
  position:relative;
  & + & {
    &:before {
      content:"";
      display:block;
      position:absolute;
      height:100%;
      width:1px;
      background-color:$colour-grey-light;
      left:(-$gutter-width/2);
      top:0;
    }
  }
}

.panel-row__item {
  @include panel-row__item();
}

@media (min-width:$breakpoint-medium) {
  .panel-row__item--medium {
    @include panel-row__item();
  }
}