.size-swatch {
  border: 1px solid $colour-grey-darker;
  width: auto;
  height: 19px;
  line-height: 19px;
  padding: 0 4px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin-right: 0.25em;
}
