$tooltip-pointer-size:8px !default;

.tooltip {
  display:inline-block;
  background-color:#000;
  color:#fff;
  font-size:12px;
  padding:0.5em 1em;
  position:absolute;
  margin-left:(-$tooltip-pointer-size);
  opacity:.8;
  z-index:$z-index-modals;
  white-space: nowrap;
  top: 5px;
  left: 125.25px;
}

.tooltip__pointer {
  display:block;
  background-color:#000;
  height:$tooltip-pointer-size;
  width:$tooltip-pointer-size;
  position:absolute;
  z-index:1;
  pointer-events:none;
  right:0;
  top:50%;
  margin:(-$tooltip-pointer-size/2) (-$tooltip-pointer-size/2) 0 0;
  @include transform(rotate(45deg));
}
.product-list__item .hoverDetails .tooltip{
  margin-left:-15px;
}