@font-face {
    font-family: 'wfutura';
    src: url('./../fonts/wfutura-medium-webfont.eot');
    src: url('./../fonts/wfutura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/wfutura-medium-webfont.woff') format('woff'),
         url('./../fonts/wfutura-medium-webfont.ttf') format('truetype'),
         url('./../fonts/wfutura-medium-webfont.svg#wfuturamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wfuturamedium';
    src: url('./../fonts/wfutura-medium-webfont.eot');
    src: url('./../fonts/wfutura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/wfutura-medium-webfont.woff') format('woff'),
         url('./../fonts/wfutura-medium-webfont.ttf') format('truetype'),
         url('./../fonts/wfutura-medium-webfont.svg#wfuturamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wfuturabold';
    src: url('./../fonts/wfutura-bold-webfont.eot');
    src: url('./../fonts/wfutura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/wfutura-bold-webfont.woff') format('woff'),
         url('./../fonts/wfutura-bold-webfont.ttf') format('truetype'),
         url('./../fonts/wfutura-bold-webfont.svg#ourfuturabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wfuturalight';
    src: url('./../fonts/wfutura-light-webfont.eot');
    src: url('./../fonts/wfutura-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/wfutura-light-webfont.woff') format('woff'),
         url('./../fonts/wfutura-light-webfont.ttf') format('truetype'),
         url('./../fonts/wfutura-light-webfont.svg#ourfuturalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wfuturasemibold';
    src: url('./../fonts/wfutura-semibold-webfont.eot');
    src: url('./../fonts/wfutura-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/wfutura-semibold-webfont.woff') format('woff'),
         url('./../fonts/wfutura-semibold-webfont.ttf') format('truetype'),
         url('./../fonts/wfutura-semibold-webfont.svg#ourfuturasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
