.product-list__breadcrumb {
  position:relative;
  z-index:20;
  display:inline-block;
}

.product-list__banner {
  position: relative;
  padding-bottom: 10%;
  height: 0;
}

.product-list__list {
  margin-top:$gutter-width;
}

.product-list__options {
  margin-bottom:1em;
}

.product-list__item {
  margin-bottom:$gutter-width;
}

@media (min-width:$breakpoint-small) {
  .product-list__item {
    margin-bottom:0;
  }
}

@media (min-width:$breakpoint-small) and (max-width:$breakpoint-xlarge - 0.001em) {
  .product-list__item {
    @include gridColSpan(1 of 2);
  }
}

@media (min-width:$breakpoint-medium) {
  .product-list__filters {
    float:left;
    width:160px;
  }
  .product-list__list {
    position:relative;
    z-index:10;
    float:right;
    width:100%;
    margin-top: 0.875em;
  }
  .product-list__filters + .product-list__list {
    width:calc(100% - 180px);
  }
  .product-list__breadcrumb + div > .product-list__list {
    margin-top: -2.5em;
  }
  .product-list__options {
    text-align:right;
  }
}

@media (min-width:$breakpoint-xlarge) and (max-width:$breakpoint-full - 0.001em) {
  .product-list__item {
    @include gridColSpan(1 of 3);
  }
}


@media (min-width:$breakpoint-full) and (max-width:$breakpoint-xfull - 0.001em) {
  .product-list__item {
    @include gridColSpan(1 of 4);
  }
}

@media (min-width:$breakpoint-xfull) and (max-width:$breakpoint-xxfull - 0.001em) {
  .product-list__item {
    @include gridColSpan(1 of 5);
  }
}

@media (min-width:$breakpoint-xxfull) {
  .product-list__item {
    @include gridColSpan(1 of 6);
  }
}
