
.site-map-content {
  h1.font-graphic.text-caps {
    font-size: 1.5em;
    margin: 0;
  }
  h1.font-graphic.heading--400.heading--sub.no-wrap--ellipsis{
    font-size: 1.5em;
    margin: 1em 0;
  }
  .accordion.accordion--chrome.accordion--group {
    h4.text-caps.accordion__toggle--chrome.accordion__toggle--line.accordion__toggle {
      text-transform: none;
    }
  }
}
