.checkout-header {
  background-color: $colour-font-default;
  display: block;
  overflow: hidden;
  padding: 15px 2%;
  .logo {
    a {
      background: url(/images/breakpoint_lrg/woolworths_logo.png) no-repeat left top #000;
      display: block;
      height: 18px;
      text-indent: -9999em;
      width: 179px;
      float: left;
      margin-top: 9px;
  }
  }
  .wLogo {
    float: right;
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    a {
      float: right;
      position: relative;
      overflow: hidden;
      height: 36px;
      width: 36px;
      background-image: url(/images/icons/checkout_logo.gif);
     }
  }
}
.checkout-subheader {
  h1 {
    margin: 0;
  }
  .checkout-nav{
    font-size: 0.75em;
    margin-top: -2px;
  }
}
@media (max-width:$breakpoint-medium-max){
  .checkout-subheader {
    .checkout-nav{
      li span {
        display: block;
      }
      .nav-list-x__item--line + .nav-list-x__item--line {
        border-left: none;
        display: none;
      }
    }
  }

  .checkout-header {
    .site-header-foot__icon {
      display: none;
    }
    .site-header__logo {

    }
  }
}

@media (min-width:$breakpoint-large) {
  .checkout-header {
    .checkout-nav{
      font-size: 0.75em;
    }
  }
  .checkout-subheader {
    .checkout-nav{
      font-size: 1em;
      margin-top: 8px;
    }
  }
}
